@model WebApplication3.Models.WeaponDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this weapon?</h2>
<a href="/Weapon/List">Cancel</a>
<h2>@Model.WeaponName</h2>

<div>Weapon Creation Year: @Model.WeaponCreationYear</div>
<div>Weapon Description: @Model.WeaponDescription</div>
<div>Collection Standard: @Model.CollectionsStandard</div>

<form action="/Weapon/Delete/@Model.WeaponID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>

