@model IEnumerable<WebApplication3.Models.WeaponDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Weapon/New">New Weapon</a>
@foreach (var weapon in Model)
{
    <h2><a href="/Weapon/Details/@weapon.WeaponID">@weapon.WeaponName</a></h2>
    <div>Weapon Creation Year: @weapon.WeaponCreationYear</div>
    <div>Weapon Description: @weapon.WeaponDescription</div>
    <div>Collection Standard: @weapon.CollectionsStandard</div>
}

